.categories{
    padding:30px 8%;
    background:#f9f9f9;
}

.categories h2{
    text-align:center;
    margin-bottom:20px;
    color:#2e7d32;
    font-size:35px;
}

.categories-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.category-card{
    background:white;
    border-radius:12px;
    text-align:center;
    padding:30px;
    text-decoration:none;
    color:#333;
    transition:.3s;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.category-card:hover{
    transform:translateY(-8px);
}

.category-icon{
    font-size:50px;
    margin-bottom:15px;
}

@media (max-width: 768px) {
  .categories h2{
    font-size: 25px;
  }
  .categories-grid{
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
  }
  .category-card{
    padding: 5px;
  }
  .category-icon{
    font-size: 20px;
  }
  .category-card h3{
    font-size: 12px;
  }
}