.seller-profile{
    padding:40px 8%;
}

.seller-header{
    display:flex;
    gap:30px;
    align-items:center;
    margin-bottom:50px;
    flex-wrap:wrap;
}

.seller-header img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #2e7d32;
}

.seller-products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.seller-products a{
    width:100%;
    border:none;
    background:#2e7d32;
    color:white;
    padding:12px;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

@media (max-width: 768px) {
  .seller-products{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .seller-products .product-card img {
    height: 100px;
  }
}
