.stats-section{
    padding:50px 4%;
    background:#f7fff6;
    color:white;
    text-align:center;
    margin-top: 0px;
}

.stats-section h2{
    font-size:36px;
    margin-bottom:50px;
    color: #2e7d32;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.stat-box{
    background:#2e7d32;
    border-radius:12px;
    padding:35px 20px;
    transition:.3s;
}

.stat-box:hover{
    transform:translateY(-8px);
    background: #6db98e;
}

.stat-box h3{
    font-size:48px;
    margin-bottom:15px;
}

.stat-box span{
    display:block;
    font-size:38px;
    font-weight:bold;
    margin-bottom:10px;
}

.stat-box p{
    font-size:18px;
}

@media (max-width: 768px) {
  .stats-section h2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .stats-container{
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
  }
  .stat-box{
    padding: 5px;
  }
  .stat-box h3{
    font-size: 32px;
    margin-bottom: 5px;
  }
  .stat-box span{
    font-size: 12px;
  }
  .stat-box p{
    font-size: 10px;
  }
}