.testimonials{
    padding:50px 4%;
    background:#f8f8f8;
    text-align:center;
}

.testimonials h2{
    color:#2e7d32;
    font-size:36px;
    margin-bottom:50px;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.testimonial-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.testimonial-card:hover{
    transform:translateY(-8px);
}

.stars{
    font-size:22px;
    margin-bottom:20px;
}

.text{
    color:#555;
    line-height:1.7;
    margin-bottom:25px;
    font-style:italic;
}

.testimonial-card h3{
    color:#2e7d32;
    margin-bottom:5px;
}

.testimonial-card span{
    color:#777;
}

@media (max-width: 768px) {
  .testimonials h2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .testimonial-container{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .testimonial-card{
    padding: 10px;
  }
  .stars{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .text{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .testimonial-card h3{
    font-size: 14px;
  }
  .testimonial-card span{
    font-size: 12px;
  }
}