body.dark {
  background: #121212;
  color: #f5f5f5;
}

body.dark .card,
body.dark .product-card,
body.dark .dashboard-card,
body.dark .stat-card,
body.dark .orders-chart-container,
body.dark .reviews-card,
body.dark .filters,
body.dark .favorite-card,
body.dark .review-card,
body.dark .order-card,
body.dark .payment-card,
body.dark tr,
body.dark .activity-card,
body.dark .hero-buttons a,
body.dark .categories-grid a,
body.dark .admin-sidebar,
body.dark .footer,
body.dark .step,
body.dark .nav-links.active,
body.dark .testimonial-card,
body.dark .stat-box,
body.dark .feature-card,
body.dark .admin-menu a,
body.dark .order-content{
  background: #1e1e1e;
  color: #f5f5f5;
  border-color: #333;
}

body.dark .register-form,
body.dark .login-form{
  color: #444;
}

body.dark input,
body.dark select,
body.dark textarea{
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

body.dark a,
body.dark .feature-card h3,
body.dark .feature-card p,
body.dark .testimonial-card h3,
body.dark .testimonial-card p,
body.dark .testimonial-card span{
  color: #fff;
}

body.dark .bottom-nav,
body.dark .navbar {
  background: #1b1b1b;
}
